/* Block */

.simple-table-of-contents-title-wrap,
.simple-table-of-contents-content {
    border-width: var(--simple-table-of-contents--border-width);
    border-color: var(--simple-table-of-contents--title--bg-color);
}

.simple-table-of-contents-title-wrap {
    border-style: none solid;
    cursor: auto;
}

.simple-table-of-contents-content {
    border-style: none dashed dashed;
}

/* Sidebar */

.simple-table-of-contents-input-control .components-input-control__container {
    max-width: 90px;
    margin-left: auto;
}

.simple-table-of-contents-heading-tags-control .components-checkbox-control {
    margin: 0;
}