:root {
    --simple-table-of-contents--title--font-size: 1em;
    --simple-table-of-contents--title--font-color: #000;
    --simple-table-of-contents--title--bg-color: #ebecf0;
    --simple-table-of-contents--table--font-size: 0.9em;
    --simple-table-of-contents--table--font-color: inherit;
    --simple-table-of-contents--table--bg-color: transparent;
    --simple-table-of-contents--arrow--width: 2.6em;
    --simple-table-of-contents--padding-tb: 0.8em;
    --simple-table-of-contents--padding-lr: 20px;
    --simple-table-of-contents--sublists--padding-left: 15px;
    --simple-table-of-contents--border-width: 3px;
    --simple-table-of-contents--duration: 0.5s;
}

.simple-table-of-contents {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: 0;
    overflow: hidden;
}

.simple-table-of-contents *,
.simple-table-of-contents *::before,
.simple-table-of-contents *::after {
    box-sizing: inherit;
}

.simple-table-of-contents-title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--simple-table-of-contents--title--bg-color);
    cursor: pointer;
}

.simple-table-of-contents.always-open .simple-table-of-contents-title-wrap {
    cursor: auto;
}

.simple-table-of-contents-title,
.simple-table-of-contents-arrow {
    font-size: var(--simple-table-of-contents--title--font-size);
    line-height: 1;
    text-align: left;
    color: var(--simple-table-of-contents--title--font-color);
}

.simple-table-of-contents-title {
    display: block;
    max-width: calc(100% - var(--simple-table-of-contents--arrow--width));
    margin: 0;
    padding: var(--simple-table-of-contents--padding-tb) var(--simple-table-of-contents--padding-lr);
    word-wrap: break-word;
}

.simple-table-of-contents-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--simple-table-of-contents--arrow--width);
    height: 100%;
}

.simple-table-of-contents-arrow .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%) rotate(180deg);
    text-align: center;
    transition: transform var(--simple-table-of-contents--duration);
}

.simple-table-of-contents.is-closed .fa-angle-down {
    transform: translateY(-50%) translateX(50%);
}

.simple-table-of-contents-table {
    padding: 0 var(--simple-table-of-contents--padding-lr);
    color: var(--simple-table-of-contents--table--font-color);
    font-size: var(--simple-table-of-contents--table--font-size);
    background-color: var(--simple-table-of-contents--table--bg-color);
    overflow: hidden;
}

.simple-table-of-contents-table ol {
    padding: 0 0 0 var(--simple-table-of-contents--sublists--padding-left);
    margin: 0;
    counter-reset: item;
    list-style-type: none;
}

.simple-table-of-contents-table > ol {
    padding: var(--simple-table-of-contents--padding-tb) 0;
}

.simple-table-of-contents-table a {
    display: inline-block;
    padding: calc(var(--simple-table-of-contents--padding-tb) / 2);
    line-height: 1;
}

.simple-table-of-contents-table li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    display: inline;
}

.simple-table-of-contents.has-border .simple-table-of-contents-title-wrap,
.simple-table-of-contents.has-border .simple-table-of-contents-table {
    border-width: var(--simple-table-of-contents--border-width);
    border-color: var(--simple-table-of-contents--title--bg-color);
}

.simple-table-of-contents.has-border .simple-table-of-contents-title-wrap {
    border-style: none solid;
}

.simple-table-of-contents.has-border .simple-table-of-contents-table {
    border-style: none solid solid;
}